/* google fonts - lexend deca */
@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@100;200;300;400;500;600;700;800;900&display=swap');

/* tailwindcss default styles */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* global styles */

html {
  scroll-behavior: smooth;
}

body {
  background-color: #f6f9fc;
  font-family: 'Poppins', sans-serif;
}

#root {
  @apply max-w-7xl mx-auto text-black text-base overflow-hidden;
}

/* HomeFAQ - accordion */

details > summary {
  list-style-type: none;
  cursor: pointer;
}

details:is([open], :hover) > summary {
  @apply text-black;
}

details[open] > summary > .icon {
  transform: rotateX(180deg);
}

/* ################ REACT MASONRY ################ */
.my-masonry-grid {
  display: flex;
  gap: 1rem; /* column gap */
  width: auto;
}

/* Style your items */
.my-masonry-grid_column > article {
  margin-bottom: 1rem; /* row gap */
}

@media (min-width: 768px) {
  .my-masonry-grid {
    gap: 1.25rem; /* column gap */
  }
  .my-masonry-grid_column > article {
    margin-bottom: 1.25rem; /* row gap */
  }
}

/* ################ PROFILE CARD DEVELOPERS ################ */

/* react masonry */
.my-masonry-grid {
  display: flex;
  gap: 1rem; /* column gap */
  width: auto;
}

/* Style your items */
.my-masonry-grid_column > article {
  margin-bottom: 1rem; /* row gap */
}

@media (min-width: 768px) {
  .my-masonry-grid {
    gap: 2.25rem; /* column gap */
  }
  .my-masonry-grid_column > article {
    margin-bottom: 2.25rem; /* row gap */
  }
}

/* card */
.dev-cards {
  @apply bg-white w-fit max-w-sm mx-auto overflow-hidden rounded shadow-lg relative;
}

/* image */
.dev-cards img {
  @apply transition-all duration-700;
}
.dev-cards:hover img {
  @apply lg:scale-150;
}

/* social links */
.dev-social-links {
  @apply transition-all duration-300 lg:translate-y-44;
}

.dev-social-links a {
  @apply bg-[rgba(255,255,255,.75)] rounded hover:bg-white border border-transparent hover:border-black;
}

/* hover */
.dev-cards:hover .dev-social-links {
  @apply lg:translate-y-0;
}

.dev-cards:hover .dev-social-links:nth-child(1) {
  transition-delay: 0.1s;
}
.dev-cards:hover .dev-social-links:nth-child(2) {
  transition-delay: 0.2s;
}

.dev-cards:hover .dev-social-links:nth-child(3) {
  transition-delay: 0.3s;
}
.dev-cards:hover .dev-social-links:nth-child(4) {
  transition-delay: 0.4s;
}

/* ################ LOG IN ################ */
