/* google fonts - lexend deca */
@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@100;200;300;400;500;600;700;800;900&display=swap');

/* tailwindcss default styles */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* global styles */
html {
  scroll-behavior: smooth;
}

body {
  background-color: #f6f9fc;
  font-family: 'Poppins', sans-serif;
}

#root {
  @apply max-w-7xl mx-auto text-black text-base overflow-hidden;
}

/* CUSTOM SCROLLBAR */
body::-webkit-scrollbar,
.singlePage-description::-webkit-scrollbar {
  -webkit-appearance: none;
}
body::-webkit-scrollbar:vertical,
.singlePage-description::-webkit-scrollbar:vertical {
  width: 11px;
}
body::-webkit-scrollbar:horizontal,
.singlePage-description::-webkit-scrollbar:horizontal {
  height: 11px;
}
body::-webkit-scrollbar-thumb,
.singlePage-description::-webkit-scrollbar-thumb {
  border-radius: 8px;
  border: 2px solid white; /* should match background, can't be transparent */
  background-color: rgba(0, 0, 0, 0.5);
}
body::-webkit-scrollbar-track {
  background-color: #fff;
}

.singlePage-description::-webkit-scrollbar-thumb {
  @apply border-2 border-customBlueViolet-700;
}
.singlePage-description::-webkit-scrollbar-track {
  /* background-color: #fff; */
  @apply bg-customBlueViolet-700;
}

/* Global style */
.blue-btn {
  @apply bg-customBlue-500 text-white hover:bg-customYellow-500 hover:text-customBlue-500 text-sm px-lg py-base rounded inline-block m-1 md:m-2 shadow-md transition-all duration-300 tracking-wide font-medium;
}

.yellow-btn {
  @apply hover:bg-customBlue-500 hover:text-white bg-customYellow-500 text-customBlue-500 text-sm px-lg py-base rounded inline-block m-1 md:m-2 shadow-md transition-all duration-300 tracking-wide font-medium;
}

.spinner {
   width: 56px;
   height: 56px;
   border-radius: 50%;
   background: #0052d4;
   -webkit-mask: repeating-conic-gradient(#0000 0deg,#000 1deg 70deg,#0000 71deg 90deg),
        radial-gradient(farthest-side,#0000 calc(100% - 10.1px),#000 calc(100% - 9px));
   -webkit-mask-composite: destination-in;
   mask-composite: intersect;
   animation: spinner-mv2oco 1s infinite;
}

@keyframes spinner-mv2oco {
   to {
      transform: rotate(.5turn);
   }
}

/* TODO: refactor/other approach for section componet */

.section {
  @apply py-8 md:py-12 lg:py-14;
}

.section-center {
  @apply mx-auto w-11/12;
}



/* HomeFAQ - accordion */

details > summary {
  list-style-type: none;
  cursor: pointer;
}

details:is([open], :hover) > summary {
  @apply text-black;
}

details[open] > summary > .icon {
  transform: rotateX(180deg);
}

/* ################ REACT MASONRY ################ */
.my-masonry-grid {
  display: flex;
  gap: 1rem; /* column gap */
  width: auto;
}

/* Style your items */
.my-masonry-grid_column > article {
  margin-bottom: 1rem; /* row gap */
}

@media (min-width: 768px) {
  .my-masonry-grid {
    gap: 1.25rem; /* column gap */
  }
  .my-masonry-grid_column > article {
    margin-bottom: 1.25rem; /* row gap */
  }
}

/* ################ PROFILE CARD DEVELOPERS ################ */

/* react masonry */
.my-masonry-grid {
  display: flex;
  gap: 1rem; /* column gap */
  width: auto;
}

/* Style your items */
.my-masonry-grid_column > article {
  margin-bottom: 1rem; /* row gap */
}

@media (min-width: 768px) {
  .my-masonry-grid {
    gap: 1.15rem; /* column gap */
  }
  .my-masonry-grid_column > article {
    margin-bottom: 1.15rem; /* row gap */
  }
}

/* card */
.dev-cards {
  @apply bg-white w-fit max-w-sm mx-auto overflow-hidden rounded shadow-lg relative;
}

/* image */
.dev-cards img {
  @apply transition-all duration-700;
}
.dev-cards:hover img {
  @apply lg:scale-150;
}

/* social links */
.dev-social-links {
  @apply transition-all duration-300 lg:translate-y-44;
}

.dev-social-links a {
  @apply bg-[rgba(255,255,255,.65)] rounded hover:bg-white;
}

/* hover */
.dev-cards:hover .dev-social-links {
  @apply lg:translate-y-0;
}

.dev-cards:hover .dev-social-links:nth-child(1) {
  transition-delay: 0.1s;
}
.dev-cards:hover .dev-social-links:nth-child(2) {
  transition-delay: 0.2s;
}

.dev-cards:hover .dev-social-links:nth-child(3) {
  transition-delay: 0.3s;
}
.dev-cards:hover .dev-social-links:nth-child(4) {
  transition-delay: 0.4s;
}

/* ################ PORTAL ################ */
/* .student-form {
  background: rgba(0, 74, 172, 0.72);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(9.3px);
  -webkit-backdrop-filter: blur(9.3px);
  border: 1px solid rgba(0, 74, 172, 0.34);
} */
.student-form {
  /* From https://css.glass */
  background: rgba(255, 255, 255, 0.42);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(4.6px);
  -webkit-backdrop-filter: blur(4.6px);
  border: 1px solid rgba(255, 255, 255, 0.3);
}

.student-form input {
  background: rgba(255, 255, 255, 0.91);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(4.6px);
  -webkit-backdrop-filter: blur(4.6px);
  border: 1px solid rgba(255, 255, 255, 0.3);
}
/* ################ COURSES ################ */

.courses-card {
  @apply max-w-sm mx-auto bg-customBlueViolet-700 rounded overflow-hidden relative shadow-lg border-2 border-customBlueViolet-700;
}

.courses-card:hover img {
  @apply scale-150;
}

.courses-card img {
  @apply transition-all duration-300;
}
/* ################ POST DESCRIPTION ################ */
.post-description {
  @apply mb-3 font-normal tracking-wide;
}

.post-description strong,
.singlePage-description strong {
  @apply font-semibold;
}

.post-description ol,
.singlePage-description ol {
  @apply list-decimal pl-4;
}

.post-description ul,
.singlePage-description ul {
  @apply list-disc pl-4;
}

.post-description a,
.singlePage-description a {
  @apply underline;
}

/* PORTAL TABLE */
th,
td,
tr {
  @apply p-base border border-black;
}


tr:nth-child(odd) {
  @apply bg-white;
}

tr:nth-child(1) {
  @apply bg-white text-black;
}
